<div class="container">
<div class="d-flex justify-content-around align-items-center">
    <div class="mr-3">
      <h2><%= @champion.name %></h2>
      <%= cl_image_tag @champion.photo.key, height: 300, width: 400, crop: :fill, class: "border" %>
    </div>
    <div class="d-flex justify-content-around">
      <div class="mr-3">
        <h4>Description</h4>
        <p><%= @champion.description %></p>
      </div>
      <div class="mr-3">
        <h4>Universe</h4>
        <%= @champion.universe %>
      </div>
      <div class="mr-3">
        <h4>Rate</h4>
        <p><%= @champion.rate %> $</p>
      </div>
    </div>
  </div>
  <h3 class="mt-3 mb-3"><%= "Booking for #{@champion.name}" %></h3>
  <%= simple_form_for [@champion, @booking] do |f| %>
    <%= f.input :start_time %>
    <%= f.input :end_time %>
    <%= f.button :submit, class: "btn btn-flat" %>
  <% end %>
</div>