<h1 class="mt-5" style="text-align: center">My Bookings</h1>
<div class= "container">
  <div class="row">
    <% @bookings.each do |booking| %>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card-grid mb-3" >
          <div class="card">
          <%= cl_image_tag booking.champion.photo.key,crop: :fill, class: "border w-100" %>
          <div class="p-3">
            <p><b>Owner:</b> <%= booking.champion.user.username %></p>
            <p><b>from:</b> <%= booking.start_time %></p>
            <p><b>To:</b> <%= booking.end_time %></p>
            <p><b>Total Price:</b> <%= booking.total_price %></p>
         
            
            <% unless booking.review %>
              <%= link_to "Leave a review", new_booking_review_path(booking) %>           
            <% end%>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>

<div class="container">
  <h1 style="text-align: center">My Offerings</h1>
  <div class="text-center">
  <%= link_to "Rent a Super Hero", new_champion_path, class:"btn btn-gradient"  %>
  </div>
  <div class="container">
    <div class="row">
      <% @champions.each do |champion| %>
       <% champion.bookings.each do |booking|%>
        <div class="col-12 col-md-6 col-lg-3">
       
          <div class="card mb-3 p-2" >
            <div class="card-description">
              
                <p><b>Name:</b> <%= booking.user.username%> </p>
                <p><b>email:</b> <%= booking.user.email%> </p>
                <p><b>Total price:</b> <%= booking.total_price%> </p>
                 <p><b>Status:</b> <%= booking.status%> </p>
                <% if booking.status != "accepted" %>
                <div class="d-flex justify-content-around">
                <%= link_to "Accept", booking_path(booking, booking: {status: "accepted"}), method: :patch, class:"btn btn-gradient"  %>
                <% end %>
                <% if booking.status != "declined" %>
                <%= link_to "Decline", booking_path(booking, booking: {status: "declined"}), method: :patch, class:"btn btn-gradient"  %>
                <% end %>
            <%# username want to rent from start date to end date %>
                </div>
              
            </div>
          </div>
        
        </div>
         <% end %>  
      <% end %>
    </div>
  </div>
</div>