<h1>My Bookings</h1>
<p>These are my bookings</p>

<div class="container">
  <div class="row">
    <% @bookings.each do |booking| %>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://unsplash.com/photos/qJDkJRTedNw');">
          <div class="card-description">
            <h2><%= booking.user.username %></h2>
            <h2><%= booking.start_time %></h2>
            <h2><%= booking.end_time %></h2>
            <% unless booking.review %>
              <%= link_to "Leave a review", new_booking_review_path(booking) %>           
            <% end%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


<h1>My Offerings</h1>
<p>These are the offerings for my champion</p>
<%= link_to "Add new champion", new_champion_path, class:"btn btn-primary"  %>
<div class="container">
  <div class="row">
    <% @champions.each do |champion| %>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://unsplash.com/photos/qJDkJRTedNw');">
          <div class="card-description">
          <% champion.bookings.each do |booking|%>
          <p> <%= booking.user.username%> </p>
          <%# username want to rent from start date to end date %>
          <% end %>   
          </div>
        </div>
      
      </div>
    <% end %>
  </div>
</div>