<div class="container">
  <h1><%= @champion.name %></h1>

  <%= link_to "Back to all champions", champions_path %>
  <br>
  <%# <%= cl_image_tag @champion.photo, height: 300, width: 400, crop: :fill %>


  <div class="container">
    <div class="col-sm-12 col-md-6">
      <div>
        <h4>Description</h4>
        <p><%= @champion.description %></p>
      </div>
      <div>
        <h4>Universe</h4>
        <%= @champion.universe %>
      </div>
      <div>
        <h4>Rate</h4>
        <%= @champion.rate %>
      </div>
    </div>
  </div>
